<a href="https://colab.research.google.com/github/mabonmn/Python_basic_questions/blob/main/Master_Collab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Understand the basic Concepts of Python Programming.

#Data Types

Data types are the classification or categorization of data items. It represents the kind of value that tells what operations can be performed on a particular data. Since everything is an object in Python programming, data types are actually classes and variables are instance (object) of these classes.

> More Examples :https://www.w3resource.com/python-exercises/python-data-types.php#EDITOR

##Concept: Strings
Write a Python program to calculate the length of a string.

The aim of this question is to help studenst understand the representations of Strings using charecters in python.

###EX1

In [ ]:
def string_length(str1):
    count = 0
    for char in str1:
        count += 1
    return count
print(string_length('Hello World'))

11

###EX2

Write a Python program to count the number of characters (character frequency) in a string
The aim of this question is to help studenst understand the representations of Strings using charecters in python.

In [ ]:
def char_frequency(str1):  
    dict = {}  
    for n in str1:  
        keys = dict.keys()  
        if n in keys:  
            dict[n] += 1  
        else:  
            dict[n] = 1  
    return dict  
print(char_frequency('google.com'))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

##Concept: Lists

###EX1
Write a Python program to sum all the items in a list.
The aim of this question is to help studenst understand the concepts of lists and how to itrate through a list using python.

In [ ]:
def sum_list(items):  
    sum_numbers = 0  
    for x in items:  
        sum_numbers += x  
    return sum_numbers  
print(sum_list([1,2,-8,3,4,5,6]))

13

###EX2


Write a Python function that takes two lists and returns True if they have at least one common member.

In [ ]:
def common_data(list1, list2):  
     result = False  
     for x in list1:  
         for y in list2:  
             if x == y:  
                 result = True  
                 return result
                   
print(common_data([1,2,3,4,5], [5,6,7,8,9]))  
print(common_data([1,2,3,4,5], [6,7,8,9]))

True
None

###EX3
Write a Python program to find the items starts with specific character from a given list.

In [ ]:
def test(lst, char):
    result = [i for i in lst if i.startswith(char)]
    return result
text = ["abcd", "abc", "bcd", "bkie", "cder", "cdsw", "sdfsd", "dagfa", "acjd"]
print("\nOriginal list:")
print(text)
char = "a"
print("\nItems start with",char,"from the said list:")
print(test(text, char))
char = "d"
print("\nItems start with",char,"from the said list:")
print(test(text, char))
char = "w"
print("\nItems start with",char,"from the said list:")
print(test(text, char))

Original list:
['abcd', 'abc', 'bcd', 'bkie', 'cder', 'cdsw', 'sdfsd', 'dagfa', 'acjd']

Items start with a from the said list:
['abcd', 'abc', 'acjd']

Items start with d from the said list:
['dagfa']

Items start with w from the said list:
[]

###EX4

Write a Python program to extract common index elements from more than one given list.

In [ ]:
def extract_index_ele(l1, l2, l3):
    result = []
    for m, n, o in zip(l1, l2, l3):
        if (m == n == o):
            result.append(m)
    return result

nums1 = [1, 1, 3, 4, 5, 6, 7]
nums2 = [0, 1, 2, 3, 4, 5, 7]
nums3 = [0, 1, 2, 3, 4, 5, 7]

print("Original lists:")
print(nums1)
print(nums2)
print(nums3)
print("\nCommon index elements of the said lists:") 
print(extract_index_ele(nums1, nums2, nums3))

Original lists:
[1, 1, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 7]
[0, 1, 2, 3, 4, 5, 7]

Common index elements of the said lists:
[1, 7]

# Control Flow
The flow control statements are divided into three categories


1.   Conditional statements
2.   Iterative statements
3.   Transfer statements

## Conditional statements
In Python, condition statements act depending on whether a given condition is true or false. You can execute different blocks of codes depending on the outcome of a condition. Condition statements always evaluate to either True or False.

There are Four types of conditional statements.
1. if statement
2. if-else
3. if-elif-else
4. nested if-else

### EX 1

### EX 2
Write a program to check whether a person is eligible for voting or not. (accept age from user)

In [ ]:
age=int(input("Enter your age"))
if age >=18:
   print("Eligible for voting")
else:
   print("not eligible for voting")

### EX 3
 Write a program to check whether a number entered by user is even or odd.

In [ ]:
num=int(input("Enter your age"))
if num%2==0:
   print("Number is Even")
else:
   print("Number is Odd")

### EX 4
Write a program to check whether a number is divisible by 7 or not.

In [ ]:
num=int(input("Enter A Number"))
if num%7==0:
   print("Number is divisible")
else:
   print("Number is not divisible")

### EX 5
Write a program to check whether an years is leap year or not.

In [ ]:
yr=int(input("Enter the year"))
if yr%100==0:
    if yr%400==0:
          print("Entered year is leap year")
    else:
          print("Entered year is not a leap year")
else:
    if yr%4==0:
         print("Entered year is leap year")  
    else:
        print("Entered year is not a leap year")

### EX 6
 Write a program to accept a number from 1 to 7 and display the name of the day like 1 for Sunday , 2 for Monday and so on.

In [ ]:
num=int(input("Enter any number between 1 to 7 : "))
if num==1:
    print("Sunday")
elif num==2:
    print("Monday")
elif num==3:
    print("Tuesday")
elif num==4:
   print("Wednesday")
elif num==5:
   print("Thursday")
elif num==6:
   print("Friday")
elif num==2:
   print("Saturday")
else:
   print("Please enter number between 1 to 7")

Enter any number between 1 to 7 : 2
Monday

### EX 7
. Write a program to accept a number from 1 to 12 and display name of the month and days in that month like 1 for January and number of days 31 and so on

In [ ]:
num=int(input("Enter any number between 1 to 7 : "))
if num==1:
    print("January")
elif num==2:
    print("February")
elif num==3:
    print("March")
elif num==4:
    print("April")
elif num==5:
    print("May")
elif num==6:
    print("June")
elif num==7:
    print("July")
elif num==8:
    print("August")
elif num==9:
    print("September")
elif num==10:
    print("October")
elif num==11:
    print("November")
elif num==12:
    print("December")
else:
    print("Please enter number between 1 to 12")

### EX 8
 Write a program to whether a number (accepted from user) is divisible by 2 and 3 both.

In [ ]:
num1 = int(input("Enter first number"))
if num1%2==0 and num1%3==0:
      print("Number is divisible by 2 and 3 both")
else:
      print("Number is not divisible by both")

### EX 9

A company decided to give bonus to employee according to following criteria:

![Capture.PNG]()


Ask user for their salary and years of service and print the net bonus amount.

In [ ]:
ser=int(input("Enter the time period of service"))
sal =int(input("Enter your salary"))
if ser > 10:
     b=10/100*sal
if ser >=6 and ser <=10:
     b = 8/100*sal
if ser < 6:
    b = 5/100*sal
print("Bonus is ", b)

### EX 10

Q5. Write a program to accept percentage and display the Category according to the  following criteria :

![image.png]()

In [ ]:
pr = int(input("Enter the percentage"))
if pr < 40:
     print("Your Category is:  Failed")
elif pr >= 40 and pr < 55:
     print("Your Category is:  Fair")
elif pr >=55 and pr < 65:
     print("Your Category is: Good")
elif pr >= 65 and pr<=100:
     print("Your Category is: Excellent")
elif pr >100:
     print("Please enter correct percentage")

Enter the percentage34
Your Category is:  Failed

### EX 11

Q4. Accept the electric units from user and calculate the bill according to the following rates.

First 100 Units     :  Free

Next 200 Units      :  Rs 2 per day.

Above 300 Units    :  Rs 5 per day.

if number of unit is 500 then total bill = 0 +400 + 1000 = 1400

In [ ]:
ut = int(input("Enter number of units  "))

if ut <=100:

     amt = 0

elif ut >100 and ut <= 300:

     amt = (ut-100) *2

else:

     amt = 400 + (ut - 300)*5

print("Total amount to pay is ", amt)

Enter number of units444
Total amount to pay is  1120

### EX 12

ccept the number of days from the user and calculate the charge for library according to following :

Till five days : Rs 2/day.

Six to ten days  : Rs 3/day.

11 to 15 days  : Rs 4/day

After 15 days    : Rs 5/day

In [ ]:
nd = int(input("Enter number of days "))

if nd <= 5:

    amt = nd * 2

elif nd >=6 and nd <=10:

    amt = nd * 3

elif nd >= 11 and nd <= 15:

    amt = nd * 4

else:

    amt = nd * 5

print("Total amount to pay is ", amt)

## Iterative statements: FOR LOOPS

### EX 1

 Write a program to print first 10 odd numbers.

In [ ]:
for i in range(1,21,2):
      print(i)

### EX 2

 Write a program to check whether a number is prime or not.

In [ ]:
num=int(input("Enter any number"))
f=0
if num==1 or num==0:
     f=1
for i in range(2,num):
     if num%i==0:
          f=1
if f==1:
     print("Number is not prime")
else:
     print("Number is prime")

### EX 3

Write program to print the following pattern. To n numbers

1

1 2

1 2 3

1 2 3 4

In [ ]:
n=8
for i in range(1,n+1):

    for j in range(1,i+1):

        print(j,end=" ")

    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8

### EX 4

Accept 10 numbers from the user and display their average.

In [ ]:
s=0

for i in range(10):

n=int(input("Enter number"))

s=s+n

print("Average of 10 numbers is ",s/10)

### EX 5

Write a program to display all the numbers which are divisible by 11 but not by 2 between 100 and 500.

In [ ]:
for i in range(100,500):

   if i%11==0 and i%2!=0:

      print(i)

#Algorithms